/html
/node_modules
/screenshots
/results
/eng.traineddata
/.wwebjs_auth
/.wwebjs_cache
/.env
/fingerprint.json
/patients.db
/abc.js
/tries.mjs
/details-page-min.js
/images/logo.jpeg
/certs
/src/fix2.mjs
/src/fix1.mjs
/src/amer.mjs
/proxy.mhs
/src/fix_2.mjs
/src/fix-xnew.mjs
/src/fix-ryd.mjs
/src/fix-super.mjs
/src/fix-simple-super.mjs
/src/snackbar.mjs
/start-auto.bat
/new-index-04d8007d.js
/test-change-source.mjs
/original-gm-index.js
/original-gm-index-modfs.js
/sitecode_config.json
/src/fix-final.mjs
/src/fix-final-new.mjs
