/html
/node_modules
/screenshots
/results
/eng.traineddata
/.wwebjs_auth
/.wwebjs_cache
/.env
/fingerprint.json
/patients.db
/abc.js
/tries.mjs
/details-page-min.js
/images/logo.jpeg
/certs
/src/fix2.mjs
/src/fix1.mjs
/src/amer.mjs
/proxy.mhs